html
  head
    title Fuffle Project
    link(rel="stylesheet", href="/css/master.css")
    script(src="/js/master.js")
  body
    h1 Fuffle Project
    p Your Fuffle project has been setup correctly.
    ul
      li To get started, modify this file, it's your home page
      li Next, make some more views in the views directory
      li Then add your routes in the app.js file
      li Check out the git readme or the npm page for more info...
    ul
      each item in items
        li #[a(href="/delete/?id=" + item["_id"]) (x)] #[a(href="#", onclick="update(\"" + item["_id"] + "\");") (update)] #{item.key}
    form(action="/add", method="post")
      input(type="text", name="test", id="test", value="test")
      input(type="submit", value="insert")
